footer {
    border-top: 1px solid #dec129;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    background-color:#EE82EE;
}

footer h3 {
    margin-top: 2em;
    margin-bottom: 1.2em;
    color: antiquewhite;
}

footer span {
    font-weight: bold;
    color: #cfcbcb;
}